 <!-- start form for personal information -->
<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2><i class="fa fa-book"></i> Offense</h2>
			<ul class="nav navbar-right panel_toolbox">
			<button class="btn btn-default" ng-click="form.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button>
			</ul>
			<div class="clearfix"></div>
		</div>
	<form name="formHolder.offense" id="formHolder.offense" novalidate autocomplete="off">
	<br>
	<div class="row">
		<div class="col-md-4 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.offense.student_no.$touched && formHolder.offense.student_no.$invalid}">
			<label>Name</label>
			<input type="text" class="form-control" name="student_no" ng-model="offense.student_no" required uib-typeahead="s.fullname for s in students | filter:{fullname:$viewValue}" typeahead-min-length="2" typeahead-on-select="form.fullnameSelect($item, this)" ng-disabled="controls.ok.btn">
			<span class="help-block" ng-show="formHolder.offense.student_no.$touched && formHolder.offense.student_no.$invalid">Name is required</span>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 form-group">
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.offense.offs_date.$touched && formHolder.offense.offs_date.$invalid}">
			<label>Date</label>
			<input type="date" class="form-control" name="offs_date" ng-model="offense.offs_date" required ng-disabled="controls.ok.btn">
			<span class="help-block" ng-show="formHolder.offense.offs_date.$touched && formHolder.offense.offs_date.$invalid">Date is required</span>
		</div>
	</div>
	<hr>
	<div class="col-lg-5">
	<label>Type of Offense</label>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 form-group">
			<input type="checkbox" name="inc_uniform" ng-model="offense.inc_uniform" ng-disabled="controls.ok.btn">
			<label>No/Incomplete Uniform</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 form-group">
			<input type="checkbox" name="late_tardy" ng-model="offense.late_tardy" ng-disabled="controls.ok.btn">
			<label>Late/Tardy</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 form-group">
			<input type="checkbox" name="absent" ng-model="offense.absent" ng-disabled="controls.ok.btn">
			<label>Absent</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 form-group">
			<input type="checkbox" name="no_id" ng-model="offense.no_id" ng-disabled="controls.ok.btn">
			<label>No ID</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 form-group">
			<input type="checkbox" name="cutting_classes" ng-model="offense.cutting_classes" ng-disabled="controls.ok.btn">
			<label>Cutting Classes</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 form-group">
			<input type="checkbox" ng-model="offense.check_others" ng-disabled="controls.ok.btn">
			<label>Others (please specify)</label>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-10 form-group">
			<input type="text" class="form-control" placeholder="Type here" ng-disabled="controls.ok.btn" ng-show="offense.check_others" ng-model="offense.others">
		</div>
	</div>
	</div>
	</form>
		<div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<button class="btn btn-default" type="submit" ng-click="form.list(this)" ng-disabled="controls.cancel.btn">{{controls.cancel.label}}</button>
			<button class="btn btn-info" type="submit" ng-click="form.save(this)" ng-disabled="controls.ok.btn">{{controls.ok.label}}</button>
		</div>
	</div>
</div>

<!-- end form for subject information -->