 <!-- start form for personal information -->
<div class="col-md-12 col-sm-12 col-xs-12">
	<div class="x_panel">
		<div class="x_title">
			<h2><i class="fa fa-book"></i> Recommendations</h2>
			<ul class="nav navbar-right panel_toolbox">
			<button class="btn btn-default" ng-click="form.edit(this)"><i class="fa" ng-class="{'fa-edit': controls.ok.btn, 'fa-ban': !controls.ok.btn}"></i></button>
			</ul>
			<div class="clearfix"></div>
		</div>
	<form name="formHolder.offense" id="formHolder.offense" novalidate autocomplete="off">
	<br>
	<div class="row">
		<div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<h2>ID Number: <b>{{offense.student_no.id_number}}</b></h2>
			<h2>Name: <b>{{offense.student_no.lastname}}, {{offense.student_no.firstname}} {{offense.student_no.middlename}}</b> <input type="checkbox" name="done" ng-model="offense.done" ng-disabled="controls.ok.btn"></h2>
			<h2>Remarks: <b ng-show="offense.done">Done</b></h2>
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 form-group">
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12 form-group" ng-class="{'has-error': formHolder.offense.recom_date.$touched && formHolder.offense.recom_date.$invalid}">
			<label>Date</label>
			<input type="date" class="form-control" name="recom_date" ng-model="offense.recom_date" required ng-disabled="controls.ok.btn">
			<span class="help-block" ng-show="formHolder.offense.recom_date.$touched && formHolder.offense.recom_date.$invalid">Date is required</span>
		</div>
	</div>
	<hr>
	<div class="col-lg-8">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<label>Recommendations</label>
			
			<!-- <br>
			<select class="form-control" ng-model="offense.recommendation" ng-disabled="controls.ok.btn">
				<option value="To be admitted and be excuse">To be admitted and be excuse</option>
				<option value="To be admitted but NOT excuse">To be admitted but NOT excuse</option>
				<option value="To make up for any academic losses">To make up for any academic losses</option>
				<option value="To be admitted any after completion of what is required">To be admitted any after completion of what is required</option>
				<option value="To be dropped for incurring equivalent to 20% of total number of lecture/laboratory hours">To be dropped for incurring equivalent to 20% of total number of lecture/laboratory hours</option>
				<option value="To send parent notification for parent's conference">To send parent notification for parent's conference</option>
			</select> -->
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 form-group">
			<input type="checkbox" ng-model="offense.admitted_excuse" name="admitted_excuse" ng-disabled="controls.ok.btn">
			<label>To be admitted and be excuse</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 form-group">
			<input type="checkbox" ng-model="offense.admitted_notexcuse" name="admitted_notexcuse" ng-disabled="controls.ok.btn">
			<label>To be admitted but NOT excuse</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 form-group">
			<input type="checkbox" ng-model="offense.academic_loses" name="academic_loses" ng-disabled="controls.ok.btn">
			<label>To make up for any academic loses</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 form-group">
			<input type="checkbox" ng-model="offense.completion_required" name="completion_required" ng-disabled="controls.ok.btn">
			<label>To be admitted only after completion of what is required</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 form-group">
			<input type="checkbox" ng-model="offense.dropped" name="dropped" ng-disabled="controls.ok.btn">
			<label>To be dropped for incurring equivalent to 20% of total number of lecture/laboratory hours</label>
		</div>
	</div><div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 form-group">
			<input type="checkbox" ng-model="offense.parent_notification" name="parent_notification" ng-disabled="controls.ok.btn">
			<label>To sent parent's notification for parent's conference</label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 form-group">
			<input type="checkbox" ng-model="offense.recom_others_cb" ng-disabled="controls.ok.btn">
			<label>Others (please specify)</label>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 form-group">
			<input type="text" class="form-control" ng-disabled="controls.ok.btn" ng-show="offense.recom_others_cb" ng-model="offense.recom_others" placeholder="Type here">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-sm-12 col-xs-12 form-group">
			<button class="btn btn-default" type="submit" ng-click="form.list(this)" ng-disabled="controls.cancel.btn">{{controls.cancel.label}}</button>
			<button class="btn btn-info" type="submit" ng-click="form.save(this)" ng-disabled="controls.ok.btn">{{controls.ok.label}}</button>
		</div>
	</div>
	</div>
	<div class="col-lg-4">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<label>Equivalent Community Service</label>
			<br>
			<select class="form-control" ng-model="offense.com_service" ng-disabled="controls.ok.btn">
				<option value="10 minutes">10 minutes</option>
				<option value="15 minutes">15 minutes</option>
				<option value="20 minutes">20 minutes</option>
				<option value="25 minutes">25 minutes</option>
				<option value="30 minutes">30 minutes</option>
				<option value="35 minutes">35 minutes</option>
				<option value="40 minutes">40 minutes</option>
				<option value="45 minutes">45 minutes</option>
				<option value="50 minutes">50 minutes</option>
				<option value="55 minutes">55 minutes</option>
				<option value="1 hour">1 hour</option>
				<option value="2 hours">2 hours</option>
				<option value="3 hours">3 hours</option>
			</select>
		</div>
	</div>
	</form>
	</div>
</div>


<!-- end form for subject information -->